/* Tablet */
@media screen and (min-width: 768px) {
    .container {
      width: 80%;
      margin: 0 auto;
      max-width: 1100px;
    }
  
    .hamburger-menu {
      display: none;
    }
  
    .header-menu {
      display: block;
    }

    /* MAIN */
    #application .cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 0;
    }

    #application .card {
        /* width: calc(100% / 3 - 2rem / 3); */
        width: 32%;
        margin-bottom: 1rem;
    }

    #application .card:first-child {
        /* width: calc(100% / 3 - 1rem / 3); */
        width: 66%;
    }
}

/* Desktop */
@media screen and (min-width: 992px) {
    .container {
        width: 80%;
        margin: 0 auto;
        max-width: 1110px;
    }

    .small-container {
        width: 60%;
        margin: 0 auto;
        max-width: 900px;
    }

    /* MAIN */
    #planning .cards {
        flex-direction: row;
        align-items: flex-end;
    }

    #planning .card {
        width: 50%;
    }

    .testimonial-card {
        flex-direction: row;
    }

    .testimonial-img img {
        width: 70%;
    }
}

