/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans serif;
}

/* Utilities */
.flex {
    display: flex;
}

.column {
    flex-direction: column;
}
  
.justify-content-between {
    justify-content: space-between;
}

.text-center {
    text-align: center;
}

.btn-white {
    border: 0;
    background-color: white;
    padding: 0.6rem 2.5rem;
    border-radius: 0.9rem;
}

.btn-blue {
    border: 0;
    color: white;
    background-color: #0084FD;
    padding: 0.6rem 2.5rem;
    border-radius: 0.9rem;
}

.btn-purple {
    border: 0;
    color: white;
    background-color: #9792E4;
    padding: 0.6rem 2.5rem;
    border-radius: 0.9rem;
}

.big-icon {
    font-size: 5rem;
}

/* Layout */
.container {
    width: 100%;
    padding: 0px 1rem;
    /* debug */
    /* border: 1px solid black; */
}

.small-container {
    width: 100%;
    padding: 0px 1rem;
    /* debug */
    border: 1px solid black;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
  
.main-section {
    padding: 2rem 0;
}

/* HEADER */
.header {
    background-color: #0084FD;
    padding: 1rem 0;
    /* height: 70px; */
    /* line-height: 70px; */
}

.header-logo {
    align-items: center;
}
  
.header-menu {
    display: none;
}
  
.header-menu ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
}

.header-menu a {
    text-decoration: none;
    color: white;
}

.hamburger-menu {
    align-items: center;
}
  
.hamburger-menu-btn {
    color: white;
    font-size: 1.6rem;
    border: 0;
    background-color: transparent;
}

/* MAIN */
.card {
    align-items:center;
    justify-content: center;
    gap: 20px;
    padding: 25px 25px 0 25px;
    border-radius: 20px;

    /* debug */
    /* min-height: 200px; */
    background-color: #B5DDFF;
}

.card img {
    width: 60%;
}

.testimonial-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.testimonial-img img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

#benefits .cards {
    justify-content: center;
    align-items: center;
}

#benefits .card {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    padding: 2rem;
}

/* ABOUT */

#about-cards .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 2rem;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}
/* /ABOUT */

/* GET STARTED */
#free {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
/* /GET STARTED */

/* FOOTER */
#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 6rem;
    color: white;
    background-color: #333333;
}

#footer p a {
    color: #8480C3;
}
/* /FOOTER */


/* COLOR */

.bg-purple {
    background-color: #9792E4;
}

.bg-white {
    background-color: white;
}