    /* RESET */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    img {
        max-width: 100%;
    }

    /* Utilities */
    .flex {
        display: flex;
    }

    .align-center {
        align-items: center;
    }

    .space-between {
        justify-content: space-between;
    }

    .align-items {
        align-items: center;
    }

    .mgtop-20 {
        margin-top: 20px;
    }

    .w-30 {
        width: 66%;
    }



    /* HEADER */
    .container {
        /* height: 60px; */
        padding: 1rem;
        width: 100%;
        background-color: #0084fd;
    }
    
    .header-menu {
        display: none;
    }

    .header-menu ul {
        display: flex;
        gap: 10px;
        list-style-type: none;
    }

    .hamburger-menu-btn {
        font-size: 1.6rem;
        background-color: transparent;
        border: 0;
        color: white;
    }

    

    @media screen and (min-width: 480px) {

        .header-menu {
            display: inline-block;
        }

        .hamburger-menu {
            display: none;
        }
    }
    /* /HEADER */

    /* FIRST SECTION */

    .container-card {
        width: 100%;
    }

    .cards {
        height: 1000px;
        width: 100%;
        padding: 40px;
        background-color: lightcoral;
        flex-direction: column;
        gap: 10px;    
    }

    .card {
        height: 500px;
        width: 60%;
        background-color: lightblue;
    }

    @media screen and (min-width: 481px) {
        .cards {
            flex-wrap: wrap;
            flex-direction: row;
            height: 500px;
        }

        .card {
            width: 31%;
            height: 200px;
        }

        .w-30 {
            width: 64%;
        }
    }


    .container-planning {
        padding: 50px 0;
        /* height: 1000px; */
        width: 100%;
        background-color: lightsalmon;
        align-items: center;
        flex-direction: column;
    }

    .box-pl {
        width: 80%;
        height: 500px;
        border: 2px solid black;
    }

    @media screen and (min-width: 991px) {
        .container-planning {
            flex-direction: row;
            justify-content: center;
            /* height: 770px; */
        }

        .box-pl {
            width: 45%;
        }
    }

    /* /SECON SECTION */

    /* THIRD SECTION */
    .container-testimonial {
        height: 1000px;
        width: 100%;
        background-color: lightgoldenrodyellow;
        flex-direction: column;
        align-items: center;
    }

    .testimonial-text {
        align-items: center;
        flex-direction: column;
        height: 200px;
        width: 100%;
        background-color: aqua;
    }

    .card-testimonial {
        height: 300px;
        width: 70%;
        background-color: lightpink;
        border: 2px solid black;
    }
    
    /* /THIRD SECTION */

    /* FOURTH SECTION */
    .container-benefits {
        flex-direction: column;
        align-items: center;
        height: 1250px;
        width: 100%;
        background-color: violet;
    }

    .cards-benefits {
        align-items: center;
        flex-direction: column;
        gap: 30px;
        padding: 50px 0;
        /* height: 1300px; */
        width: 80%;
        border: 2px solid white;
    }

    .boxcard {
        height: 160px;
        width: 80%;
        border: 3px dashed black;
    }

    @media screen and (min-width: 768px) {
        .cards-benefits {
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
        }

        .boxcard {
            width: 45%;
        }
    }

    /* /FOURTH SECTION */
